<% include header %> 
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="thumbnail">

                    <h3 style="padding-left=50px;text-align:center;">Links</h3>
                    <ul>
                    <li><a href="">Feed</a></li>
                        <li><a href="">Health</a></li>
                        <li><a href="">Association</a></li>
                        <li><a href="">Football</a></li>
                        <li><a href="">E-Commerce</a></li>
                        <li><a href="">Football</a></li>
                        <li><a href="">F C Barcelona</a></li>
                        <li><a href="">Auto Mechanics</a></li>
                        <li><a href="">Landlords</a></li>
                        <li><a href="">Tenants</a></li>
                        <li><a href="">Parking</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                    <div class="row">
                        <% questions.forEach(function(quest){ %>
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <div style="padding-left:10px; padding-right:10px;">

                                    <h4><%= quest.user %></h4>
                                    <div class="thumbnail">
                                        <a style="color:black;" href="/question/<%= quest._id %>">
                                                <h3><%= quest.question %></h3>
                                        </a>
                                    </div>
                                    <a href="/question/<%=quest._id%>" class="btn btn-primary">Answer</a>
                                    <a href="#" class="pull-right">Follow</a>
                                    <a href="#" class="pull-right" style="padding-right:20px;">Pass</a>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">

                    <h3>Improve feed</h3>
                    <ul>
                        <li>Visit your feed</li>
                        <li>Follow 20 or more topics</li>
                        <li>Find your frinds on quora</li>
                        <li>Upvote 2 or more good answers</li>
                        <li>Ask your first question</li>
                        <li>Add 3 credentials</li>
                        <li>Answer a question</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<% include footer %>