<% include header %>
    <div class="container">
        <h3 style="text-align:center;"></h3>
        <form action="/question/<%= quest._id %>/answers" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="ans[author]" placeholder="Author">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="ans[answer]" placeholder="Answer">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
    </div>
<% include footer %>